@* Bootstrap-5 modal used by runIngest() *@
<div class="modal fade" id="processSummaryModal" tabindex="-1"
     aria-labelledby="processSummaryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content shadow">
            <div class="modal-header">
                <h5 class="modal-title" id="processSummaryModalLabel">Endpoint summary</h5>

                <!-- Bootstrap-5 close button -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <!-- runIngest() writes HTML here -->
                <div id="psm-content"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>