@model dynamic

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @if (Model == false) {

    } else {
        <h5>API Sets</h5>
        <p style="color: grey"> You are connected to your Xero organisation. Try the following operations:</p>
        
        <h6> Accounting APIs: </h6>

        <section style="margin-left: 10px">
            <p><button onclick="location.href='@Url.Action("Index", "OrganisationInfo")'">Get Organisation Information</button></p>

        </section>


        <h6> Identity APIs: </h6>

        <section style="margin-left: 10px">

            <p><button onclick="location.href='@Url.Action("Index", "IdentityInfo")'">Get Connections</button></p>
        
        </section>

    }

</div>