@model dynamic

@model XeroNetStandardApp.Models.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @if (!Model.IsConnected)
    {
        <p>No Xero organisation connected.</p>
        <p>
            <button onclick="location.href='@Url.Action("Index", "Authorization")'">
                Connect to Xero
            </button>
        </p>
    }
    else
    {
        <h5>Your Xero Organisations</h5>
        @if (Model.Tenants.Count == 0)
        {
            <p>No organisations connected.</p>
        }
        else
        {
            <ul>
                @foreach (var tenant in Model.Tenants)
                {
                    <li>@tenant.OrgName (@tenant.TenantId)</li>
                }
            </ul>
        }

        <section style="margin-left: 10px">
            <p>
                <button onclick="location.href='@Url.Action("Index", "IdentityInfo")'">Manual Data Load</button>
            </p>
        </section>
    }
</div>